/* Vendors */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: itherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*	Imports	*/

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1.33rem;
  background-color: #fff;
  color: #000;
}

/*	Common	*/

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

/*	Blocks	*/

.intro {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work {
  padding: 2rem;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}

.work__item {
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f5f5f5;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.work__item--demo {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.work__item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.work__image {
  margin-right: 2rem;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25%;
}

.work__text {
  color: indianred;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.work__text:hover {
  color: #952e2e;
}

.demo {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.demo__header {
  margin-bottom: 4rem;
}

.demo__title {
  margin-bottom: 2rem;
}

.demo__list {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.demo__name {
  margin-bottom: 2rem;
  color: darkseagreen;
  text-align: center;
}